@model IEnumerable<MyTaskListApp.Models.MyTask>

    @{
        ViewBag.Title = "My Task List";
    }

    <h2>My Task List</h2>

    <table class="table">
        <tr>
            <th>Task</th>
            <th>Category</th>
            <th>Date</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("View", "View", new {item.Id}) | @Html.ActionLink("Edit", "Edit", new {item.Id}) | @Html.ActionLink("Delete", "Delete", new {item.Id})
                </td>
            </tr>
        }

    </table>

@Html.ActionLink("Create New Task", "Create")